.ico1, .ico2, .ico3, .ico4, .ico5 {
    opacity: 0.2;
}

.ico1 {
    background: url("../img/sprite.png") no-repeat -177px -354px;
    width: 41px;
    height: 30px;
}

.ico2 {
    background: url("../img/sprite.png") no-repeat -230px -355px;
    width: 43px;
    height: 34px;
}

.ico3 {
    background: url("../img/sprite.png") no-repeat -295px -352px;
    width: 41px;
    height: 37px;
}

.ico4 {
    background: url("../img/sprite.png") no-repeat -353px -348px;
    width: 44px;
    height: 42px;
}

.ico5 {
    background: url("../img/sprite.png") no-repeat -412px -354px;
    width: 51px;
    height: 39px;
}

.form-group {
    width: 100%;
    margin: 0 !important;
    padding: 0;
}

@media screen and (max-width: 900px) {
    .form-group {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.form-group .line1 {
    width: 48%;
}

@media screen and (max-width: 900px) {
    .form-group .line1 {
        width: 100%;
    }
}

.form-group .line1 input {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(204, 204, 204, 0.6);
    border-radius: 0;
}

.line2 {
    width: 100%;
}

.line2 textarea {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(204, 204, 204, 0.6);
    resize: none;
}

.button {
    border: none;
    background: #fff;
    float: right;
    position: relative;
    margin-top: 20px;
}

.button::before {
    content: '';
    background: url("../img/sprite.png") no-repeat -58px -72px;
    width: 23px;
    height: 16px;
    position: absolute;
    top: 10px;
    left: -29px;
}
