@media screen and (max-width: 540px) {
    .title-footer, .col__, .heart__, .line-vertical {
        padding: 0 16px;
    }

    .title-footer .line-vertical::before, .col__ .line-vertical::before, .heart__ .line-vertical::before, .line-vertical .line-vertical::before {
        display: none;
    }

    .title-footer {
        margin-top: 20px;
    }

    .carousel-indicators {
        top: calc(50% - 12px);
    }
}

@media screen and (max-width: 768px) {
    .form input[type="text"] {
        width: 100%;
    }

    .w-100 {
        height: 80vh;
    }
}

@media screen and (max-width: 1000px) {
    .fff {
        padding: 0 100px;
    }

    .icons-soc {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}
