@media screen and (max-width: 540px) {
    .title-footer, .col__, .heart__, .line-vertical {
        padding: 0 16px;
    }

    .title-footer .line-vertical::before, .col__ .line-vertical::before, .heart__ .line-vertical::before, .line-vertical .line-vertical::before {
        display: none;
    }

    .title-footer {
        margin-top: 20px;
    }
}
