.ico1, .ico2, .ico3, .ico4, .ico5 {
	opacity: 0.2;
}
.ico1 {
  background: url('../img/sprite.png') no-repeat -177px -354px;
	width: 41px;
	height: 30px;     
}

 .ico2 {
  background: url('../img/sprite.png') no-repeat -230px -355px;
	width: 43px;
	height: 34px;    
}   

.ico3 {
  background: url('../img/sprite.png') no-repeat -295px -352px;
	width: 41px;
	height: 37px;   
}   

.ico4 {
  background: url('../img/sprite.png') no-repeat -353px -348px;
	width: 44px;
	height: 42px;    
}
.ico5 {
  background: url('../img/sprite.png') no-repeat -412px -354px;
	width: 51px;
	height: 39px;    
}



.form {	
    legend {
      font-weight: 700;
    }
    &__title {
     
    }//&__title
    &__text {
      line-height: 24px;
      color:#6a737b;
    }//&__text
    
    .form-input {
      width: 49%;
      display: inline-block;
    }//.form-input
    input {
      outline: none;
      border:none;
      border-bottom: 1px solid #ccc;
      
      &::placeholder {
       font-size: 13px;
		font-weight: 400;
		color: #ccc;
      }//&::placehilder
    }//input
    .submit {
      background: none;
      margin-top: 20px;
      // @include input-text(400,16px,$openSans,1);
      position: relative;
      &::before {
        content: '';
        background: url('../img/sprite.png') no-repeat -58px -72px;
        width: 23px;
        height: 16px;
        position: absolute;
        top: calc(50% - 7px);
        left: -32px;
      }
    }//.submit
  }//.form

.line2 {

   width: 100%;
   
	   textarea {
	   width: 100%;
	   border-top: none;
	   border-left: none;
	   border-right: none;
	   border-radius: 0;
	   border-bottom: 1px solid rgba(204, 204, 204, 0.6); 
	   resize: none;
	  
	  }
  

}

// .button {

//   border: none;
//   background: #fff;
//   float: right;
//   position: relative;
//   margin-top: 20px;

//   &::before {

//     content:'';
//     background: url('../img/sprite.png') no-repeat -58px -72px;
// 	width: 23px;
// 	height: 16px;
// 	position: absolute;
// 	top: 10px;
// 	left: -29px;
//     }
// }