@media screen and (max-width: 540px) {

	.title-footer, .col__, .heart__, .line-vertical,   {
  	padding: 0 16px;

  		.line-vertical {

  			&::before {
  				display: none;
  			}
  		}
	}
	
	.title-footer {
		margin-top: 20px;
	}

}

@media screen and (max-width: 720px) { 




}


@media screen and (max-width: 768px) {
	  .form {
      input[type="text"]{
        width: 100%;
      }//type=text
    }//.form
}

// @media screen and (max-width: 576px) {
// 	.future-m {
//   	padding: 0 100px;
// 	}
// }

// @media screen and (max-width: 1170px) {
//   header, .carousel .slide, .footer, footer,  main {
//   max-width: 100%
//   }
// }



@media screen and (max-width: 1000px) {
	.fff {
  	padding: 0 100px;
	}
	.icons-soc {
		flex-direction: row;	
	}
}