@mixin title {
	font-size: 28px;
	font-weight: 800;
	position: relative;
	color: $green;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 36px;
	display: block;

	&::after {
	    content: '';
	    top: 10px;
	    background: url('../img/sprite.png') no-repeat -145px -11px;
	    top: 48px;
	    left: calc(50% - 115px);
	    width: 229px;
		height: 14px;
	    position: absolute;

	}
}

@mixin title2 {
	font-size: 28px;
	font-weight: 800;
	position: relative;
	color: $green;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 100px;
	display: block;

	&::after {
	    content: '';
	    top: 10px;
	    background: url('../img/sprite.png') no-repeat -11px -297px;
	    top: 48px;
	    left: calc(50% - 115px);
	    width: 229px;
		height: 14px;
	    position: absolute;

	}
}

@mixin textlight {
	font-weight: 300;
	color: #ffffff;
	opacity: 0.3;
    display: block;
    margin-left: 10px;
    margin-top: 10px;
}


@mixin heading {
	font-weight: 600;
	font-size: 20px;
	text-align: left;
	color: $indigo;
	margin-bottom: 24px;
	position: relative;
}

@mixin text-future {
	font-size: $font-size-sm;
	margin-right: 20px;
	line-height: 22px;

}

@mixin description {
	font-size: $font-size-lg;
	font-weight: 600;
	width: 100%;
	margin: 0 auto;
	text-align: center;

}

@mixin reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin card {
	font-weight: 600;
	text-align: center;
	margin-bottom: 12px; 
	color: $indigo;
		a {
			color: $indigo;
		}
	
}

@mixin card-text {
	font-size: $font-size-sm;
	color: rgba(6, 32, 51, 0.56);
	text-align: center;
}

@mixin discuss {
	font-size: 22px;
	line-height: 31px; 
	display: block;
	margin-bottom: 41px;
}

@mixin contacts {

	ul{
		padding: 0;
		li {
			@include reset-list;
			font-size: 13px;
			color: $gray-500;
			line-height: 24px;
		}
	}
}

@mixin text-footer {
	font-size: $font-size-sm;
	color: $white;
	line-height: 24px;
}

@mixin title-footer {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 47px;
	color: $white;
	display: block;
}
.img-footer {
	margin-bottom: 45px;	
}
@mixin copy {
  font-size: $font-size-sm;
  color: $black;
}
// .line-vertical {
// 	position: absolute;
// 	width: 1px;
// 	height: 39px;
// 	background: $green;
// 	display: block;

// }







