// .opacity {
// 	height: 70px;
//  	background: rgba(16, 22, 54, 0.2); 
// }

.header-top-wrapper {
  background: rgba(16, 22, 54, 0.2);
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.9rem;
}


.img-logo {
  position: relative;

}
.line {
  &::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 17px;
    background: #154457;
    top: 23px;
    left: 118px;
    display: block;
  }
}


.navbar-nav  {
	li {
		position: relative;
	}
}

.navbar {
    align-items: flex-start;
}