@import 'variables';
@import '../../bootstrap/scss/bootstrap-reboot';
@import '../../bootstrap/scss/utilities';
@import '../../bootstrap/scss/grid';
@import '../../bootstrap/scss/navbar';
@import '../../bootstrap/scss/buttons';
@import '../../bootstrap/scss/alert';
@import '../../bootstrap/scss/tooltip';
@import '../../bootstrap/scss/transitions';
@import '../../bootstrap/scss/popover';
@import '../../bootstrap/scss/type';
@import '../../bootstrap/scss/nav';
@import '../../bootstrap/scss/images';
@import '../../bootstrap/scss/card';

@import 'blocks/mixins';
@import 'blocks/header';
@import 'blocks/nav';



body {
	font-family: 'Open Sans', sans-serif;
	color: $indigo;
}


.line-text {
	@include textlight;
}
.title {
	@include title;
}
.future-m {
	background: $gray-200;
	height: 461px;	
}

.future-m, .works_m {
	padding: 100px 0 0 0;
}

.heading {
	@include heading;
}

.heading-ico1, .heading-ico2, .heading-ico3 {  
  display: block;
  
  &::before {
    content: '';
    
    width: 40px;
	height: 40px;
    top: 3px;
    left: -38px;
    position: absolute;
  }
}

.heading-ico1 { 
	
&::before { 
		background: url('../img/sprite.png') no-repeat -1px -1px;
	}
	
}

.heading-ico2 { 
	
&::before { 
		background: url('../img/sprite.png') no-repeat -51px -1px;
	}
	
}

.heading-ico3 { 
	
&::before { 
		background: url('../img/sprite.png') no-repeat -101px -1px;
	}
	
}

.text-future {
	@include text-future;
}

.description {
	@include description;
	margin-bottom: 49px;
}
.nav-item {
	margin-bottom: 100px;
	a {
		color: $indigo;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		margin-right: 30px;
	}
}


.gallery {
	margin-bottom: 100px;

	ul {
		li {
			@include reset-list;

		}
	}	
}

.card-title {
	@include card;
}

.card-text {
	@include card-text;
}

.cards {
	width: 270px;
	height: 300px;
	margin-bottom: 100px;
}

.scrolls {
	width: 53px;
	height: 8px;
	position: relative;
	margin: 0 auto;
	margin-top: 88px;
	margin-bottom: 119px;
	
}

.scroll_bg {
	width: 8px;
	height: 8px;
	background: $indigo;
	border-radius: 50%;
	display: block;
	position: absolute;
	top: 1px;
	left: 0px;
}

.scroll-l {
	width: 8px;
	height: 8px;
	border: 1px solid $gray-400;
	border-radius: 50%;
	display: block;
	position: absolute;
	top: 1px;
	left: 15px;
}

.scroll_2 {
	width: 8px;
	height: 8px;
	border: 1px solid $gray-400;
	border-radius: 50%;
	display: block;
	position: absolute;
	top: 1px;
	left: 30px;
}
.facts {
	height: 600px;
	background: url('../img/bg.png') no-repeat center;
	background-size: cover;
}

.fun_facts {
	width: 1040px;
	margin: 0 auto;

}

.items {
	position: relative;
}

.item1, .item2, .item3, .item3 {
	margin: 0 auto 31px;

  &::before {
    position: absolute;
    content:'';
  }
}

.item1 {
  
&::before {
    background: url('../img/sprite.png') no-repeat -8px -132px;
    width: 130px;
    height: 130px;
    top: 37px;
    left: 32px;
  }    
}